#box{
    background-color: blue;
}

.Heading{
    color: red;
}

#button{
    color:red;


}

.Head2{
    text-align: center;
    text-decoration: blue underline wavy;
    
    
p{
    text-align: center;
    ;
}